@model ItemEntity

@{
    ViewData["Title"] = "Drink details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Manufacturer: </b>
                                @Model.Drink.Manufacturer.Name
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.Drink.DrinkType</p>
                        <p class="card-text"><b>Volume: </b>@Model.Drink.Volume</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>